<div class="city-table">
  <div>
    <div>
      <span>City Id</span>
      <span>City Name</span>
      <span>Actions</span>
    </div>
  </div>
  <div>
    {{#each this.city.cities as |city|}}
      <div>

        <span>
          {{city.cityId}}
        </span>
        <span>
          {{city.cityName}}
        </span>
        <span>
          <button
            type="button"
            {{on "click" (fn this.deleteCity city.cityId)}}
          >Delete</button>
        </span>
      </div>
    {{/each}}
  </div>
</div>