/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

@import url('home.css');
@import url('auth.css');
@import url('nav-bar.css');
@import url('admin-home.css');
@import url('all-bus-details.css');
@import url('book-bus.css');

* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222831;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EEE;
}


