{{yield}}

<html>
  <head>
  </head>
  <body>
    <div class="navbar-container">

      <ul class="navbar-elements">
        <li>Logo</li>
        <li class="web-title">Fly-Bus</li>
        <li>
          <div class="dropdown">
            <button class="dropbtn" type="button">Account</button>
            <div class="dropdown-content">
              <a>Profile</a>
              <a>Bookings</a>
              {{#if this.session.user}}
                <a {{on "click" this.logout}}>Logout</a>
              {{/if}}
            </div>
          </div>
        </li>
      </ul>

    </div>
  </body>
</html>
