.add-bus-form-container {
  color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 1000px;
  font-family: "Segoe UI", sans-serif;
}

.add-bus-form-container h3,
.add-bus-form-container h4 {
  color: #00adb5;
  margin-bottom: 20px;
}

.bus-details-form-container,
.seat-layout-form-container {
  margin-bottom: 30px;
}
.seat-layout-form-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
  justify-content: space-around;
}

.bus-details-form-container div,
.seat-layout-form-container div {
  margin-bottom: 15px;
}


.add-bus-form-container input,
.add-bus-form-container select {

  background-color: #393e46;
  color: #eeeeee;
  border: 1px solid #00adb5;
  border-radius: 6px;
  padding: 6px;
  width: 20rem;
}


.seat-column-box {
  padding: 10px;
  border-radius: 8px;
}

.total-rows-col{
  height: 30px;
  border: none;
  text-align: center;
  color: white;
  border-radius: 6px;

  background-color: #2c2c3e;
}


.total-rows-col.input {
  width: 90px;
}

.seat {
  background-color: #393e46;
  color: white;
  text-align: center;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.seat:hover {
  background-color: #00adb5;
}

.add-bus-form-container button {
  background-color: #00adb5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-bus-form-container button:hover {
  background-color: #009ba5;
}

.deck-separation-section {
  display: flex;
  justify-content: space-around;
}
