.schedule-form-container {
  color: white;
  padding: 40px;
  border-radius: 10px;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.schedule-form-container button {
  background-color: #00adb5;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.schedule-form-container button:hover {
  transform: scale(1.1);
  background-color: #00bbc5;
}
