{{page-title "DevHome"}}
{{outlet}}


<div class="home-container">
  <div class="welcome-card">
    <h2>Welcome, {{@model.username}}</h2>

    Add functionalities


<br>
    <button class="logout-button" type="button" {{on "click" this.logout}}>Logout</button>

  </div>
</div>
